<div class="col-md-offset-2 col-md-8 nested-fields">
	<%= f.input :value, label: "Email ID" do %>
		<div class="input-group">
			<%= f.input_field :value %>
			<span class="input-group-btn">
		  		<%=  link_to_remove_association 'x', f , class:"btn btn-danger" %>
		  	</span>
		</div>
	<% end %>
</div>
