<p>Hi there!</p>
<p>Your friend <%= @team_creator %> has added you to his team "<%= @team_name %>" on AlphaDeal.</p>
<p>Click <a href="http://www.alphadeal.co/users/sign_in">here</a> to sign in, and get started!</p>
<p>

We hope you have an amazing time! Arhwooo!