<p>Hi there!</p>
<p>Your friend <%= @team_creator %> has sent you an invitation to join his team "<%= @team_name %>"on AlphaDeal.</p>
<p>AlphaDeal is a simple yet efficient deals and contacts management app geared towards small startups. We think you'll love it, why not give it a shot?</p>
<br/>
Click <a href="http://www.alphadeal.co/users/sign_up">here</a> to sign up, and get started!

We hope you have an amazing time! Arhwooo!