<div class="row patternbackground">

  <div class="col-md-8 col-md-offset-2">
<%=link_to(image_tag("logo_alt_alt.png",class: "logo-centered"), root_path) %>
    <div class="panel panel-default sign">
   
      <h2 class="sign-title">Refund Policy for Alphadeal</h2>
      

      <div class="panel-body">
      
        <p>Since our Website offers non-tangible, irrevocable goods we do not provide refunds after the product is purchased, which you acknowledge prior to purchasing any product on the Website. Please make sure that you've carefully read service description before making a purchase.
<br><br><h4><strong>Contacting us</strong></h4>

If you have any questions about this Policy, please contact us.
        </p>

      </div>
    </div>
  </div>

</div>