<h2>Dashboard</h2>
<p></p>
<br/>
<!--
<div class="dashboard_tips">
<p><span style= "color: white">Tip #1:</span> Drag and drop deals into different stages. Won Deals are <span style="color: green;">Green</span>, Lost Deals are <span style="color: red;">Red</span> and Pending Deals are <span style="color: orange;">Orange</span>.<br/>
<span style= "color: white">Tip #2:</span> You should archive deals that are no longer active. You can view them by clicking the "Archived" button.</p> 
</div>
<br/>-->
<div class="scrollholder">
 <%= render 'deals' %>
</div>


